<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MiniApp.Properties.Settings>
            <setting name="MiniApp_localhost_ServiceClient" serializeAs="String">
                <value>http://112.124.39.196:8090/ServiceClient.asmx</value>
            </setting>
        </MiniApp.Properties.Settings>
    </applicationSettings>
</configuration>